<div class="wrapper">
  <div class="container">
    <button class="headbtn1" id="userbtn" (click)="selectUserType('newjoiner')">New Joiner</button>
    <button class="headbtn2" id="professorbtn" (click)="selectUserType('mentor')">Mentor</button>
    <button class="headbtn3" id="adminbtn" (click)="selectUserType('admin')">Admin</button>
    <div class="login-form">
      <h2 class="textual">{{selectedUserType | titlecase}} Login</h2>
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <small class="text-danger"><b>{{msg}}</b></small>
        <div class="form-group">
          <label for="email">{{selectedUserType | titlecase}} Email address: <b class="text-danger">*</b></label>
          <input type="email" id="email" class="form-control" placeholder="enter email" name="email" [(ngModel)]="credentials.email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                 #email="ngModel"
                 [class.is-invalid]="email.invalid && email.touched">
          <div *ngIf="email.errors && email.invalid && email.touched">
            <small class="text-danger" *ngIf="email.errors['required']"><b>required field</b></small>
            <small class="text-danger" *ngIf="email.errors['pattern']"><b>Invalid email Id</b></small>
          </div>
        </div>

        <div class="form-group">
          <label for="pwd" style="margin-top: 5px;">{{selectedUserType | titlecase}} Password: <b class="text-danger">*</b></label>
          <input type="password" id="pwd" class="form-control" placeholder="enter password" name="pwd" [(ngModel)]="credentials.password" required
                 #password="ngModel"
                 [class.is-invalid]="password.invalid && password.touched">
          <div *ngIf="password.errors && password.invalid && password.touched">
            <small class="text-danger" *ngIf="password.errors['required']"><b>required field</b></small>
          </div>
          <small style="color: gray; font-size: 10px;">at least one uppercase, numeric digit, lowercase, special character, length of 6-20</small>
        </div>

        <div class="checkbox" style="margin-top: 5px;">
          <small style="color: gray;"><input type="checkbox" name="remember"> Remember me</small>
          <small style="color: navy; margin-left: 42%; cursor: pointer;">forgot password?</small>
        </div>
        <button [disabled]="loginForm.form.invalid" type="submit" class="btn loginbtn">Login</button>
      </form>
      <div class="sign-up" style=" text-align: center; margin-top: 10px;">Don't have an Account? <small [routerLink]="['/registration']" style="color: navy; text-align: center; cursor: pointer;"><b>Create One</b></small></div>
      <hr>
      <p class="text-center mt-3"><b> or Login with </b></p>
      <div class="text-center">
        <i class="fa fa-google mx-3 fa-2x"></i>
        <i class="fa fa-linkedin mx-3 fa-2x"></i>
        <i class="fa fa-twitter mx-3 fa-2x"></i>
        <i class="fa fa-windows mx-3 fa-2x"></i>
        <i class="fa fa-apple fa-retro mx-3 fa-2x"></i>
        <i class="fa fa-github mx-3 fa-2x"></i>
      </div>
    </div>
  </div>
</div>
